@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap");

body {
  font-family: "poppins";
  background-color: beige;
}

/* font-family: "Edu SA Beginner", cursive;
font-family: "Open Sans", sans-serif;
font-family: "Poppins", sans-serif;
font-family: "Roboto", sans-serif; */

.cursive {
  /* font-family: cursive; */
  /* font-style: ; */
  color: rgb(39, 136, 136);
  font-weight: 500;
}

.deliver {
  background-color: rgba(255, 255, 255, 0.692);
}
::-webkit-scrollbar {
  display: none;
}
.footer {
  background-color: #224300;
}
